.header {
    width: 100%;
    height: 100px;
    background: white;
}

/* Use float to get this container in its desired location. */

.content-left {
    width: 34vw;
    /* This height is a placeholder. You will need to make some adjustments to get this container to look like the design. */
    height: calc( 100vh - 200px );
    background: #565555;
    float: left;
}


/* Use float to get this container in its desired location. */

.content-mid {
    width: 66vw;
    height: calc( 100vh - 200px );
    background: darkgray;
    float: right;
}

/* Use float to get this container to the bottom of the screen  */

.footer {
    width: 100%;
    height: 100px;
    background: black;
    float: right;
}