/* Step-2 add a text-align that will align items in the center.  */
.main-bottom-section {
  text-align: center;
  height: 700px;
  width: 400px;
  background-color: white;
  /* alignment property */
}

/* Step-2 Add a width, height and display property to make these containers look like the design. */
.item {
    width: 150px; /*width*/
    height: 125px; /*height*/
    display: inline-block; /*display*/
    margin: 0 20px 30px;
    background: #DED6D3;
    margin: 10px;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.full-width-item {
    width: 325px; /*width*/
    height: 75px;/*height*/
    margin: 0 auto 10px;/*margin*/
    background: #DED6D3;
}

/* Step-2 Add a width, height, and margin property to make these containers look like the design. Remember margin: auto is helpful when trying to center a container. */
.large-item {
    width: 325px; /*width*/
    height: 300px;/*height*/
    margin: auto;/*margin*/
    background: #DED6D3;
}


